@using EventManagementSystem.Core.Models.Events
@model List<AttendeeInfo>

<h2>Attendees List</h2>

<table>
    <thead>
        <tr>
            <th>User Email</th>
            <th>Attendee Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var attendee in Model)

        {
            <tr>
                <td>@attendee.UserEmail</td>
                <td>@attendee.AttendeeCount</td>
            </tr>
        }
    </tbody>
</table>