@using EventManagementSystem.Infrastructure.Data.Enums
@model EventManagementSystem.Core.Models.Events.CreateEventViewModel
@Html.AntiForgeryToken()

<h2>Create Event</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EventType" class="control-label"></label>
        <select asp-for="EventType" class="form-control" asp-items="Html.GetEnumSelectList<EventTypes>()">
            <option value="">Select Event Type</option>
        </select>
        <span asp-validation-for="EventType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" type="datetime-local" class="form-control" value="@Model.Date.ToString("yyyy-MM-ddTHH:mm")" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VenueId">Select Venue</label>
        <select asp-for="VenueId" class="form-control" asp-items="@(new SelectList(Model.Venues, "Id", "Name"))">
            <option value="">-- Select Venue --</option>
        </select>
        <span asp-validation-for="VenueId" class="text-danger"></span>
    </div>

    <!-- Add Ticket Price Field -->
    <div class="form-group">
        <label asp-for="TicketPrice">Ticket Price</label>
        <input asp-for="TicketPrice" type="number" class="form-control" step="0.01" />
        <span asp-validation-for="TicketPrice" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
